
<div class="ui main text container segment">
    <div class="ui huge header"> New Blog</div>
    <form class="ui form" action="/videos" method="post">
      <div class="field">
        <label>Title</label>
        <input type="text" name="video[name]" placeholder="Title" required>
      </div>
      <div class="field">
        <label>Image</label>
        <input  type="text" name="video[video]" placeholder="Image">
      </div>
      <div class="field">
        <label>Image</label>
        <input  type="text" name="video[description]" placeholder="Image">
      </div>

      <input class="ui violet big inverted button" type="submit">
    </form>
</div>
